.footer{
    background: black;
    padding: 50px 0;
}
.footer_logo{
    width: 200px;
    height: 60px;
}
.footer_text ul li{
    margin-bottom: 10px;
}
.footer_text ul li a{
    color: white;
}

/* ---media query---- */
@media (max-width:576px){
    .footer_logo {
        margin-bottom: 25px;
    }
    .footer_text {
        margin-bottom: 25px;
    }
}
