.choseUs_section{
    padding: 100px 0;
}
.section_title h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    color:var(--heading-color);
}
.section_title p {
    max-width: 550px;
    margin: 0 auto;
    line-height: 28px;
    color: var(--paragraph-color);
}
.chose_text{
    margin-left: 20px;
}
.choseItem_box .img {
    height: 400px;
}
.chose_text h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color:var(--heading-color);
}
.chose_text p{
    font-size: 16px;
    font-weight: 400;
    color:var(--paragraph-color);
}

/* ---media query---- */
@media (max-width:576px){
    .choseItem_box .img {
        height: 380px;
    }
}
@media (max-width:350px){
    .choseItem_box .img {
        height: 350px;
    }
    .chose_text h3 {
        font-size: 20px;
    }
}