/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* variable */
:root{
  --main-color:#F91944;
  --heading-color:#414040;
  --paragraph-color:#6C6C6C;
  --white-color:#fff;
  --section-title-black:#282828;
}

/* --global css start-- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none !important;
}
ul{
  list-style: none;
  margin: 0 !important;
  padding: 0;
}
img{
  max-width: 100%;
}
/* --global css end-- */